@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --bg-footer-color: #2f303a;
  --primaci-bg-color: #ffffff;
  --secondary-text-color: (255, 255, 255, 0.6);
  --bgc-btn: #f5f4fa;
  --border-color: #eeeeee;
  --line-color: #ececec;
  --cursor-color: #000000;
  --transition-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primaci-bg-color);
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* address {
  font-style: normal;
} */
button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

textarea {
  resize: none;
}

.list {
  list-style: none;
}

::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  border-bottom: 1px solid #ececec;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.header__link {
  position: relative;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__part--dark {
  color: var(--title-text-color);
}

.header__link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--transition-time);
  transition: color var(--transition-time);
}
.header__link::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transition: -webkit-transform var(--transition-time);
  transition: -webkit-transform var(--transition-time);
  transition: transform var(--transition-time);
  transition: transform var(--transition-time), -webkit-transform var(--transition-time);
}
.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}

.header__link:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.header__link--accent {
  color: var(--accent-color);
}
.header__link--accent::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  gap: 50px;
}
.contacts__link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--transition-time);
  transition: color var(--transition-time);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  fill: currentColor;
}

.hero {
  background-color: var(--bg-footer-color);
  padding: 200px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../imeges/hero-bg.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primaci-bg-color);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  max-width: 696px;
}

.order-btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primaci-bg-color);
  background-color: var(--accent-color);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  -webkit-transition: color var(--transition-time), background-color var(--transition-time);
  transition: color var(--transition-time), background-color var(--transition-time);
}
.order-btn:hover, .order-btn:focus {
  color: var(--accent-color);
  background-color: var(--bgc-btn);
}

.mind-page {
  padding-top: 94px;
  padding-bottom: 94px;
}
.mind-page__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.mind-page__list {
  color: var(--primary-text-color);
  line-height: 1.71;
  width: 270px;
}

.mind__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.mind__item::before {
  display: block;
  content: "";
  height: 270px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--bgc-btn);
}

.mind__item--antenna::before {
  background-image: url(../imeges/antenna.svg);
  margin-bottom: 30px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mind__item--clock::before {
  background-image: url(../imeges/clock.svg);
  margin-bottom: 30px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mind__item--diagram::before {
  background-image: url(../imeges/diagram.svg);
  margin-bottom: 30px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mind__item--astronaut::before {
  background-image: url(../imeges/astronaut.svg);
  margin-bottom: 30px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.activity {
  padding-bottom: 94px;
}

.activity__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.activity__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.activity__img {
  width: calc((100% - 60px) / 3);
  position: relative;
}

.activity__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primaci-bg-color);
  font-weight: 700;
  line-height: 1.14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team {
  background-color: var(--bgc-btn);
  padding: 94px 0;
}
.team__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.employee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.employee__name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}
.employee__direction {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.employee__img {
  background-color: var(--primaci-bg-color);
  width: calc((100% - 90px) / 4);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employee__info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: var(--primaci-bg-color);
}

.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  -webkit-transition: color var(--transition-time), background-color var(--transition-time);
  transition: color var(--transition-time), background-color var(--transition-time);
}

.socials__icon {
  fill: currentColor;
}

.partners {
  padding-top: 94px;
  padding-bottom: 94px;
}
.partners__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__logo {
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: color var(--transition-time), border-color var(--transition-time);
  transition: color var(--transition-time), border-color var(--transition-time);
}
.clients__logo:hover, .clients__logo:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.footer {
  background-color: var(--bg-footer-color);
  padding: 60px 0;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.contacts__adress {
  margin-right: 70px;
}

.logo__part--white {
  color: var(--primaci-bg-color);
  display: inline-block;
  margin-bottom: 20px;
}

.adress__link {
  color: var(--primaci-bg-color);
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  display: inline-block;
  -webkit-transition: color var(--transition-time);
  transition: color var(--transition-time);
}
.adress__link:hover, .adress__link:focus {
  color: var(--accent-color);
}

.adress__link--color {
  color: var(--secondary-text-color);
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: color var(--transition-time);
  transition: color var(--transition-time);
}

.addres__list:not(:last-child) {
  margin-bottom: 9px;
}

.join {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primaci-bg-color);
  margin-bottom: 20px;
}

.socials__link--color {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--primaci-bg-color);
  -webkit-transition: background-color var(--transition-time);
  transition: background-color var(--transition-time);
}

/* Форма подписки */
.submit {
  margin-left: auto;
}

.mail-box {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--secondary-text-color);
  padding: 16px;
}

.submit__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.submit-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primaci-bg-color);
  background-color: var(--accent-color);
  cursor: pointer;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 4px;
  padding: 10px 28px;
  min-width: 200px;
  max-height: 50px;
  -webkit-transition: color var(--transition-time), background-color var(--transition-time);
  transition: color var(--transition-time), background-color var(--transition-time);
}
.submit-btn:hover, .submit-btn:focus {
  color: var(--accent-color);
  background-color: var(--bgc-btn);
}
.submit-btn__icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity var(--transition-time);
  transition: opacity var(--transition-time);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: scaleY(0) translate(-50%, -50%);
          transform: scaleY(0) translate(-50%, -50%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: scaleY(1) translate(-50%, -50%);
          transform: scaleY(1) translate(-50%, -50%);
  -webkit-transition: -webkit-transform var(--transition-time);
  transition: -webkit-transform var(--transition-time);
  transition: transform var(--transition-time);
  transition: transform var(--transition-time), -webkit-transform var(--transition-time);
  padding: 40px;
}

.close-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  -webkit-transition: fill var(--transition-time);
  transition: fill var(--transition-time);
}
.close-btn:hover, .close-btn:focus {
  fill: var(--accent-color);
}

/* Форма модального окна */
.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.form__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  position: relative;
}

.data {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.data__text {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  -webkit-transition: border var(--transition-time);
  transition: border var(--transition-time);
}

.data__text--comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px;
  height: 120px;
  outline: transparent;
  -webkit-transition: border var(--transition-time);
  transition: border var(--transition-time);
}

.data__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transition: fill var(--transition-time);
  transition: fill var(--transition-time);
}

.confirm {
  text-align: center;
  margin-top: 20px;
}
.confirm__info {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8.38px;
  margin-left: 12px;
}
.confirm__docs {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.data__text:focus + .data__icon,
.data__text:hover + .data__icon {
  fill: var(--accent-color);
}

.data__text:focus,
.data__text:hover,
.data__text--comment:focus,
.data__text--comment:hover {
  border: solid 1px var(--accent-color);
}

.check-box {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.check-box__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
}

.check-box:checked + .check-box__icon {
  background-image: url(../imeges/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.submit-btn--modal {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primaci-bg-color);
  background-color: var(--accent-color);
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 10px 52px;
  -webkit-transition: color var(--transition-time), background-color var(--transition-time);
  transition: color var(--transition-time), background-color var(--transition-time);
}
.submit-btn--modal:hover,
.submit-btn--modal :focus {
  color: var(--accent-color);
  background-color: var(--bgc-btn);
}

.filter {
  padding: 94px 0;
}

.filter__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.filter__btn--animation {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--bgc-btn);
  cursor: pointer;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  -webkit-transition: background-color var(--transition-time), color var(--transition-time), -webkit-box-shadow var(--transition-time);
  transition: background-color var(--transition-time), color var(--transition-time), -webkit-box-shadow var(--transition-time);
  transition: background-color var(--transition-time), color var(--transition-time), box-shadow var(--transition-time);
  transition: background-color var(--transition-time), color var(--transition-time), box-shadow var(--transition-time), -webkit-box-shadow var(--transition-time);
}
.filter__btn--animation:hover, .filter__btn--animation:focus {
  background-color: var(--accent-color);
  color: var(--primaci-bg-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects__card {
  width: calc((100% - 60px) / 3);
  border: 1px solid var(--border-color);
}

.projects__link {
  text-decoration: none;
  color: var(--primary-text-color);
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects__link:hover .animation__text, .projects__link:focus .animation__text {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.projects__text {
  padding: 20px 24px;
}

.projects__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects__view {
  -webkit-columns: var(--primary-text-color);
     -moz-columns: var(--primary-text-color);
          columns: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.animation {
  position: relative;
  overflow: hidden;
}
.animation__text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primaci-bg-color);
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--transition-time);
  transition: -webkit-transform var(--transition-time);
  transition: transform var(--transition-time);
  transition: transform var(--transition-time), -webkit-transform var(--transition-time);
}/*# sourceMappingURL=main.css.map */