.team {
  background-color: var(--bgc-btn);
  padding: 94px 0;
  &__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }
}

.employee {
  display: flex;
  gap: 30px;
    &__name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
  }
  &__direction {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
  }
}

.employee__img {
  background-color: var(--primaci-bg-color);
  width: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employee__info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  &__link:hover,
  &__link:focus {
  background-color: var(--accent-color);
  color: var(--primaci-bg-color);
}
  }

.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  background-position: center;
  align-items: center;
  justify-content: center;
  color: #afb1b8;

  transition: color var(--transition-time), background-color var(--transition-time);
}

.socials__icon {
  fill: currentColor;
}
